body{
	margin: 20px 0 0 20px;
	overflow: hidden;
}

#right{
	width: 20px;
	height: 100%;
	background-color: white;
	position: absolute;
	right: 0;
}

#bottom{
	height: 20px;
	width: 100%;
	background-color: white;
	position: absolute;
	bottom: 0;
}

#pie{
  width: 150px;
  height: 150px;
 	background-image: url(../img/pi.png);
 
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
}

h1{
	color: rgba(0, 0, 0, 0);
	font-size: 1px;
}

span{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
}

.highlight{
	background-color: red;
}

.zero{
	background-color: #fff4df;
}

.one{
	background-color: #f7c07d;
}

.two{
	background-color: #ff7301;
}

.three{
	background-color: #a23200;
}

.four{
	background-color: #3c0200;
}

.five{
	background-color: #7f7a6f;
}

.six{
	background-color: #7b603e;
}

.seven{
	background-color: #7f3900;
}

.eight{
	background-color: #511900;
}

.nine{
	background-color: #1e0100;
}

.dot{
	height:4px;
	width: 4px;
	border-radius: 10px;
	margin: 8px;
	background-color: #1e0100;
}